@model IEnumerable<LTQL_1721050483.Models.NhaCungCap>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nhà Cung Cấp</h2>

<p>
    @Html.ActionLink("thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tennhacungcap)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tennhacungcap)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Manhacungcap }) |
            @Html.ActionLink("chi tiết", "Details", new { id=item.Manhacungcap }) |
            @Html.ActionLink("xóa", "Delete", new { id=item.Manhacungcap })
        </td>
    </tr>
}

</table>
